.livecover img{
    width: 100%;
}

.container{
    margin-top: 10px;
}
.dates {
  margin-right: 90px;
  font-weight: bold;
}
.local {
  margin-right: 100px;
}

@media (max-width: 600px) {

  .container {
    display: inline-flex;
    width: 400px;
    margin-top: 0;
  }
  .dates {
    margin-left: 80px;
    width: 100px;
    font-size: 10px;
    margin-right: 0px;
  }

  .local {
    width: 100px;
    font-size: 10px;
    margin-right: 10px;
  }

  .country{    width: 140px;
    font-size: 10px;}
}

@media (max-width: 1000px) {
    .livecover img{
       margin-top: 80px;
    }}