.livecover img{
    width: 100%;
}

.container{
margin-top: 50px;
}
.dates {
  margin-right: 90px;
  font-weight: bold;
}
.local {
  margin-right: 100px;
}
.country{

}

@media (max-width: 414px) {

  .dates {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    font-size: 10px;
  }

  .local {
    display: inline-block;
    width: 100px;
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .country{
    display: inline-block;
    width: 120px;
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;}
}

@media (max-width: 1000px) {
    .livecover img{
       margin-top: 80px;
    }}
    