


.thumb{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;}

.video{
  width:560px;
  height:315px;
  display: flex;
  margin: 0 auto;
  padding: 10px;
  margin-top: 10px;
}
@media (max-width: 1770px) {
    .thumb {
        grid-template-columns: repeat(1, 1fr);
    }
   
  }
  @media (max-width: 588px) {
    .video{
        width: 350px;
        height: 197px;
    margin-top: 0;}
  }

